:root { 
    --grey95: #EDECEA;
    --grey90: #E5E5E5;
    --grey80: #CCCCCC;
    --grey55: #8C8C8C;
    --grey35: #595959;
    --grey15: #272727;
    --appBackground : #FDFCFA;
    --textSecondary: #595959;
    --textPrimary: #272727;
    --borderColor: #8C8C8C;
    --borderSelected: blue;
    --backgroundRed: #F9EBE8;
    --accentRed: #C23C1E;
    --accentSuccess: #348C1E;
    --linkHover: #00008B;
    --link: blue;
}   