// Common Fonts 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Typography  

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: var(--textPrimary);
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.375rem;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
} 

h4 {
  font-weight: 900;
  font-family: 'Lato', sans-serif;

}

p { 
  margin: 0; 
    font-family: 'Lato', sans-serif;

}

a {
  color: blue;
}

a:visited {
  color: var(--link);
}

a:hover {
  color: var(--link);
}

hr {
  width: 100%;
  color: var(--borderColor);
  border-top: 1px dashed;
  margin-top: 32px;
}

//typography used in posts. 
// #topic-title = title of thread, .cooked = type inside posts, .d-editor-preview =  preview when writing a post 

#topic-title h1{
  margin-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 2.5rem; 
}

.cooked h1, .d-editor-preview h1{
  margin-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.85rem;
}


.cooked h2, .d-editor-preview h2{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.65rem; 
}


.cooked h3, .d-editor-preview h3{
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
}


.cooked h4, .d-editor-preview h4{
  margin-top: 1.2rem;
  margin-bottom: .6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.15rem;
  color: var(--textSecondary);
}

.cooked h5, .d-editor-preview h5{
  margin-top: 1.05rem;
  margin-bottom: .6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  text-transform: uppercase;
  color: var(--textSecondary);
}

.cooked h6, .d-editor-preview h6{
  margin-top: 1.05rem;
  margin-bottom: .6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  font-style: italic;
  color: var(--textSecondary);
}

.cooked p, .d-editor-preview p{
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.05rem;
  line-height: 155%;
}

.cooked li, .d-editor-preview li{
  font-size: 1.05rem;
  line-height: 155%;
  margin-top: .5rem;
  margin-bottom: 0;
}

.cooked li:first-child, .d-editor-preview li:first-child{
  font-size: 1.05rem;
  line-height: 155%;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.cooked ul, .d-editor-preview ul{
  font-size: 1.05rem;
  line-height: 155%;
  margin-top: 0;
  margin-bottom: 0;
}

.cooked ol, .d-editor-preview ol{
  font-size: 1.05rem;
  line-height: 155%;
  margin-top: .5rem;
  margin-bottom: 0;
}


// END TYPOGRAPHY

// Input Field Styling 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
textarea {
    padding: 12px 16px;
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
}

//multiselect
.select-kit.multi-select {
    padding: 12px 16px;
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
}
.select-kit.multi-select .multi-select-header {
    border: none;
    background: white;
}

.select-kit.multiselect .choices {
    padding: 0;
    border: none;
}

.select-kit.multi-select .choices .selected-name {
    background: var(--grey95);
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
    
}

// time picker 
.select-kit.combo-box .select-kit-header {
    color: var(--textSecondary);
    padding: 12px 16px;
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    // min-width: 80px;
}

.select-kit.combo-box .select-kit-body{
    border-radius: 2px;
}

.select-kit .select-kit-body {
    background-color: white;
    color: var(--textSe);
}

.select-kit .select-kit-collection {
    background: white;
}

// date and time input
.d-date-time-input {
    background-color: white;
    color: var(--textSecondary);
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    align-items: center;
}


// checkboxs in posts
span.chcklst-box:not(.checked).fa-square-o::before{
    background-color: var(--textPrimary);
    align-self: first baseline;
    margin-right: 8px;
    margin-bottom: 6px;
}

span.chcklst-box.checked.fa-check-square-o::before {
    background-color: var(--textPrimary);
    align-self: first baseline;
    margin-right: 8px;
    margin-bottom: 6px;
}    

// END INPUT FIELDS


// Buttons


//Special Buttons

//buttons that trigger a drowdown
.select-kit.single-select.is-expanded .btn-default .select-kit-header {
    border: 2px solid var(--grey90);
    padding: 2px 8px 0px 8px;
}

.select-kit.dropdown-select-box .dropdown-select-box-header {
    border: 2px solid var(--grey90);
    background: var(--grey90);
    padding: 2px 8px 0px 8px;
}

//show and hide replies to a post 
nav.post-controls .show-replies {
    border: none;
    background: none;
    padding: 4px 8px 4px 8px;
}

//buttons in the post editor 
.d-editor-button-bar .btn, .d-editor-button-bar .btn-default {
    border: 2px solid transparent;
}

//quote button
.quote-button .btn {
    color: var(--textPrimary);
    border: 2px solid var(--textSecondary);
}



//regular buttons
button {
    border-radius: 2px;
}

.btn {
    background: var(--grey90);
    border: 2px solid var(--grey90);
    padding: 4px 10px;
    font-family: 'Roboto Mono', mono;

}

.btn-large {
    padding: 8px 16px;
}



//"default" button called "secondary" in our code base
.btn-text, .btn-icon-text {
    color: var(--textPrimary);
    border: 2px solid var(--textPrimary);
    background: white;
}

.btn-text .btn-icon {
    color: var(--textPrimary);
    border: 2px solid var(--textPrimary);
    background: white;
    font-family: 'Roboto Mono', mono;

}

.btn .d-icon {
    color: var(--textPrimary);

}



//hover secondary button
.discourse-no-touch .btn:hover, .discourse-no-touch .btn.btn-hover {
    color: var(--link);
    border: 2px solid var(--link);
    background: white;
    font-family: 'Roboto Mono', mono;

}

.discourse-no-touch .btn:hover .d-icon, .discourse-no-touch .btn.btn-hover .d-icon {
    color: var(--link);

}

//active secondary button
.discourse-no-touch .btn:active .d-icon, .discourse-no-touch .btn.btn-active .d-icon {
    color: var(--linkHover);

}

.btn:active, .btn.btn-active {
    color: var(--linkHover);
    border: 2px solid var(--linkHover);
    background: white;
    font-family: 'Roboto Mono', mono;

}

//disabled secondary button
.btn:disabled, .btn.btn-disabled {
    background: white;
    border: 2px solid var(--grey80);
    color: var(--grey55);

}

.btn[disabled], .btn.disabled {
    opacity: 1;
}

.btn:disabled .d-icon, .btn.btn-disabled .d-icon {
    color: var(--grey55);
}

//default primary button
.btn-primary {
    color: white;
    border: 2px solid var(--textPrimary);
    background: var(--textPrimary);
    font-family: 'Roboto Mono', mono;   

}

.btn-primary .d-icon {
    color: white;

}

//hover primary button
.discourse-no-touch .btn-primary:hover, .discourse-no-touch .btn-primary.btn-hover{
    color: white;
    border: 2px solid var(--link);
    background: var(--link);
    font-family: 'Roboto Mono', mono;

}

.discourse-no-touch .btn-primary:hover .d-icon, .discourse-no-touch .btn-primary.btn-hover .d-icon{
    color: white;

}

//active primary button
.discourse-no-touch .btn-primary:active, .discourse-no-touch .btn-primary.btn-active{
    color: white;
    border: 2px solid var(--linkHover);
    background: var(--linkHover);
    font-family: 'Roboto Mono', mono;

}

.discourse-no-touch .btn-primary:active .d-icon, .discourse-no-touch .btn-primary.btn-active .d-icon {
    color: white;

}

//disabled primary button

.btn-primary:disabled {
    background: var(--grey80);
    border: 2px solid var(--grey80);

}

.btn-primary[disabled], .btn-primary.disabled {
    opacity: 1;

}


//default destructive button
.btn-danger {
    color: var(--accentRed);
    border: 2px solid var(--accentRed);
    background: white;
    font-family: 'Roboto Mono', mono;

}

.btn-danger[href] {
    color: var(--accentRed);

}

.btn-danger .d-icon {
    color: var(--accentRed);

}

//hover destructive button
.discourse-no-touch .btn-danger:hover, .discourse-no-touch .btndanger.btn-hover{
    color: white;
    border: 2px solid var(--accentRed);
    background: var(--accentRed);
    font-family: 'Roboto Mono', mono;

}

.discourse-no-touch .btn-danger:hover .d-icon, .discourse-no-touch .btn-danger.btn-hover .d-icon {
    color: white;

}

//active destructive button
.discourse-no-touch .btn-danger:active, .discourse-no-touch .btndanger.btn-active{
    color: white;
    border: 2px solid #AD3318;
    background: #AD3318;
    font-family: 'Roboto Mono', mono;

}

.discourse-no-touch .btn-danger:active .d-icon, .discourse-no-touch .btn-danger.btn-active .d-icon {
    color: white;

}


//default icon button 
.btn .btn-icon {
    border: 2px solid black;
    background: green;
}

//flat icon button 

.btn-flat .d-icon {
    color: var(--textSecondary);

}

.discourse-no-touch .btn-flat:hover .d-icon, .discourse-no-touch .btn-flat.btn-hover .d-icon {
    color: var(--link);

}

.btn-flat .d-icon:active {
    color: var(--linkHover);

}

.btn-flat .d-icon:disabled {
    color: var(--grey80);

}