// FROM HERE ON OUT ARE "MOLECULE" STYLINGS 

// Action icons are the bottom of posts 




.actions {
    .like-count {
        border-radius: 2px 0 0 2px;
    }
    
    .toggle-like {
        border-radius: 0 2px 2px 0;
    }
    
    .reply {
        color: var(--textSecondary);
    }
    
    
}


// Footer Messages underneath topic lists within a category 

.footer-message {
    background: var(--grey95);
    text-align: center;
    padding: 16px;
    
    h3{
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        color: var(--textSecondary);
    }
    
    .btn {
        background: transparent;
        border: 2px solid var(--grey80);
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        color: var(--textSecondary);
    }
    
    .btn:hover {
        background: none;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        color: var(--link);
    }
    
    .top-title-buttons {
        width: 100%;
        justify-content: center;
        padding-top: 8px;
    }
}
// END FOOTER MESSAGE 

// The category list (topic list is further down) 



.category-list {
    
    // thead:before {
    //     content: "Cohorts";
    //     //setting it to be an h1
    //     font-family: 'Roboto Mono', monospace;
    //     font-weight: normal;
    //     font-size: 3rem;
    //     font-weight: bold;
    // }
    
    border-collapse: separate;
    border-spacing: 0;
    
    th {
        color: (--textSecondary);
        padding: 16px;
    }
    
    th:first-of-type, td:first-of-type {
        padding: 16px 16px 16px 0px;
    }
    
    th:last-of-type, td:last-of-type {
        padding: 16px 0px 16px 16px;
    }
        
    th:nth-of-type(2), td:nth-of-type(2) {
        padding: 16px;
    }
    
    .category {
        border-bottom: 1px dashed var(--borderColor) !important;
    }
    
    tbody .category {
        border-left: none;
        border-right: none;
    }

    .topics {
        border-bottom: 1px dashed var(--borderColor);
    }
    
    .latest {
        border-bottom: 1px dashed var(--borderColor);
    }

    tr:last-child td {
        border: none !important;
    }
    
    .featured-topic:first-child {
        margin-top: 0;
    }
}

//this is the category boxes on the home page of the forum ONLY 


.category-boxes {
    justify-content: space-between;
    
    .category-box {
        border: 1px solid var(--grey80) !important;
        border-radius: 2px;
        box-sizing: border-box;
        width: 320px;
        flex-grow: 1;
        transition: 150ms ease-in-out;

    }   
    
    .category-box:hover {
        border: 1px solid var(--textPrimary) !important;
        border-radius: 2px;
        box-sizing: border-box;
        transform: translate(-6px, -6px);
        box-shadow: 6px 6px 0 0 var(--textPrimary);
        
    }
    
    .category-box-inner {
        border: none;
    }
    
    .category-details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .category-box-heading {
        margin-bottom: 8px;
        
        .d-icon {display:none;}
    }
    
    .description {
        max-width: 640px;
        margin: 0 auto 16px auto;
        
    }
    
    .subcategories {
        
        justify-content: center;
        max-width: 320px;
        margin: auto 0 0 0;

        //styling subcategories as a button
        .subcategory {
            border: 2px solid var(--textPrimary);
            border-radius: 2px;
            padding: 0px;
            margin: 12px 0 0 0;
            text-align: center;
            width: 320px; 
            background: white;
            align-self: flex-end;

            .badge-wrapper.bullet {
                margin-right: 0;
            }
            .subcategory-image-placeholder {
                display: none;
            }
            
            .badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
                display: none;
            }
            
           .d-icon {
                display: none;
            }
            
            .category-name {
                color: var(--textPrimary);
                font-family: 'Roboto Mono', mono;
                font-size: 1em;
                text-align: center;
                padding: 4px;
                width: 320px;
                max-height: 100px;
            }

            
        }
        
        .subcategory:hover {
            border: 2px solid var(--link);
            
            .category-name {
                color: var(--link);
                padding: 4px;
            }
            
            .badge-wrapper.bullet {
                color: blue;
            }
            
        }
    }    
    
    //styles specific to Hyperlink noncourse categories
    .category-box.category-box-team, 
    .category-box.category-box-events-announcements, 
    .category-box.category-box-course-garden, 
    .category-box.category-box-adventures,
    .category-box.category-box-profiles,
    .category-box.category-box-discussion,
    .category-box.category-box-meta,
    .category-box.category-box-course-creator-cabal,
    .category-box.category-box-staff,
    .category-box.category-box-shared-drafts
    {
        width: 320px;
        flex-grow: 1;
        background: var(--grey15);
        color: white;
        
        &:hover {
        box-shadow: 4px 4px 0 0 var(--appBackground), 6px 6px 0 0 var(--textPrimary);
        background: var(--textPrimary);
        }
        
        h3 {
            color: white;
        }
        
        .description {
            color: var(--grey80);
        }
        
        .subcategory {
            background: var(--grey15);
            border: 2px solid white;
            
        }
        
        .category-name {
            color: white;
        }
        
         .subcategory:hover {
            background: white;
            border: 2px solid white;
        }
    
    }

}
    


// END CATEGORY LIST 

// The topic list 
    //LOL no thank you. 
    
// END TOPIC LIST 

// Topic and Category List Navigation


.category-navigation, .list-controls{
    
    ol.category-breadcrumb {
        display: none;
    }

    .nav::before {
        display: inline;
        content: "Filter:";
        padding-right: 16px;
        //setting it to be an h3
          font-size: 1rem;
          font-weight: 700;
          font-family: 'Lato', sans-serif;
          color: var(--textSecondary);
    }

    .nav {
        display: flex;
        align-items: center
    }
    
}


// Post Editor/Preview 
#reply-control {
    .title-and-category {
        flex-direction: column;
        align-items: flex-start;
    }
        .title-input {
            width: 100%;
        } 
        .category-input .category-chooser .select-kit-header {
            width: 100%;
        }
        .select-kit.combo-box.mini-tag-chooser .select-kit-header {
            display: none;
        }


    

    .action-title {
        //styled as an h3
        font-size: 1rem;
        font-weight: 900;
        font-family: 'Lato', sans-serif;
    }
    
    .d-editor-container {
       padding-bottom: 16px;   
    }
    
    .save-or-cancel {
        padding-bottom: 16px;
    }
    
    .toggle-preview {
        padding-bottom: 16px;
    }
    
    .d-editor-textarea-wrapper.disabled .d-editor-button-bar {
        visibility: visible;
    }
}

// Topic Title Edit thingy 
.edit-topic-title {
    .mini-tag-chooser {
        display: none;
    }
}

// THESE ARE NOW CUSTOM COMPONENT STYLES 

// Page Header

.category-title-header {
    background: none !important;
    color: var(--textPrimary) !important;
    
    .category-title-contents {
        padding: 0 0 32px 0 !important;
        max-width: 800px;
        
    }
    
    h1 {
        margin-left: -10px;
    }
    .d-icon {
        display: none;
    }
}



//App Header
.d-header {
    box-shadow: none;
    // border-bottom: 1px solid var(--borderColor);
}

.custom-header-links .headerLink a{
    font-family: 'Roboto Mono', mono;
    padding: 10px 10px !important;
}

.custom-header-links .headerLink a:hover {
    font-family: 'Roboto Mono', mono;
    color: var(--link);
    background: var(--grey90);
}